
  /* Flex Box Starts Here! */

  /* Flex Container */
.flex-nav ul {
    border:1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    background-color:#7D9BB7;
    
  }

  /* Flex Item */
.flex-nav li {
    flex:3;
  }

.flex-nav .social {
    flex:1;
  }


  @media all and (max-width:1000px) {

.flex-nav ul {
      flex-wrap:wrap;
    }
  
.flex-nav li {
      flex:1 1 50%;
    }
  
.flex-nav .social {
      flex:1 1 25%;
    }
  
  }
  
  @media all and (max-width:500px) {
    
.flex-nav li {
      flex-basis:100%;
    }
  
  }