.App {
  width:60rem;
    height:60rem;
    border:solid #81A9CC;
    margin:0 auto 0 auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



/*media querys*/
@media (max-width: 2500px) and (min-width: 1201px){

}  

@media (max-width: 1200px) and (min-width: 801px){




}


@media (max-width: 800px) and (min-width: 401px){



}

@media (max-width: 400px) and (min-width: 1px){


}
